*{
  box-sizing: border-box;
}

.row{
}

.col{
  margin: 10px;
  padding: 10px;
}

/* flexbox styling */
.row{
  height: auto;
  width: 100%;
  background: grey;
}

.col{
  background: #ccc;
  flex: 1 200px
    
}
.container {
    background: grey;
}
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}




