/*
 Width: 1000px
 # Columns : 12 
 Column width: 65px
 Gutter : 20px 

 */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 auto;
	float: left;
    width: 90%;
    max-width: 90%;
}



.container{
	width: 1000%;
    max-width: 100%;
	margin: 0 auto;
    position: relative;
    padding: 10px;
    text-align: center;
    min-height: 30px;
}
.container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}




