
body {
	height: 100%;
	background: url("../img/hixs_pattern_evolution.png")  center center;
	
	margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}
/*animated parts*/
nav a:link,
nav a:visited{
  background: rgba(100, 149, 237, 0);
  color: white;
  padding: 1em;
  text-decoration: none;
  transition: background 1s,
  padding .65s, color 1s;
}
nav a:hover {
  background: #D3D3D3;
  padding: 1.25em;
  color: cornflowerblue;   
}
h1 {
	color: cornflowerblue;
	font-size: 2.9375em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-top: 0;
    transition: all 1s;
}
/*animation*/
h1:hover {
    color: #da9100;
}
footer {
    background: cornflowerblue;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.footerthankyou {
    width: 100%;
    position: absolute;
    bottom: 0;
}
section p {

    margin-bottom: 3.125em;
    color: white;
    padding: 1.625em;
    padding-left: 50px;

}
section {
    z-index: 1;
}
.thankyou {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 30px;
}
.thankyou2 {
     display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20px;
}
.gobacknav {
    padding-left: 300px;
    margin-bottom: 0;
}
.thankyoumargin {
    margin-top: 300px;
    background: rgba(255,255,255,.5);
}
}

.edu p {
	margin-right: 3.125em;
    margin-left: 1.875em;

 	
 }
img, .headimg {
    width: 100%;
    max-width: 100%;
}

 section ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
 	padding: 1.625em;
    padding-left: 85px;
    line-height: 1.625em;
    color: white;
     
 }
 article li {
 	margin-top: 1.25em;
 	font-size: 1em;
 	list-style: none;
    font-family: 'Noto Serif', serif; 
 }
.topcontainer {
   position: relative;
    height: 31.25em;
}
.headimg {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}
.bottomborder {
 	border-bottom: #da9100 .25em double;
    transition: all 1s;
 }
/*animation for bottomborder*/
.bottomborder:hover {
    border-bottom:  #da9100 1.25em double;
}

.white {
    background: rgba(255,255,255,.5);
    margin-top: 0;
}
header h2 {
	line-height: 2.1875;
}

img, iframe, object, embed, video, audio {
 width: 60%;
 max-width: 60%;      
}
nav {
}
nav li {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    font-family: 'roboto', sans-serif;
    margin: 3px auto;
}
nav ul {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0
}
li {
	list-style: none;
    text-align: left;
    font-family: 'Noto Serif', serif;
}
.about {
    text-align: center;
}
/* font */
h4 {
	font-size: .875em;
	font-family: 'Roboto', sans-serif;
	margin: 0px 0px
}
p {
	margin-top: .625em;
	line-height: 1.4375em;
	font-size: 1em;
    text-align: left;
    font-family: 'Noto Serif', serif;
}
h2 {
	font-size: 2.25em;
	color: cornflowerblue;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 50px;
}
h3 {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    margin-top: 0;
    color: white;
	font-size: 1.5em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
    h1 {
        font-size: 2.9375em;
    } 
    body {
       background: url("../img/hixs_pattern_evolution.png")  ;
        
	}
	
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
    body {
       background: url("../img/hixs_pattern_evolution.png")  ;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
    body {
       background: url("../img/hixs_pattern_evolution.png")  ;
  }

}
