
body {
	height: 100%;
	background: url("../img/hixs_pattern_evolution.png")  center center;
	
	margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}
/*animated parts*/
@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}
nav a:link,
nav a:visited{
  background: rgba(100, 149, 237, 0);
  color: white;
  padding: 1em;
  text-decoration: none;
  transition: background 1s,
  padding .65s, color 1s;
}
nav a:hover {
  background: #D3D3D3;
  padding: 1.25em;
  color: cornflowerblue;   
}
h1 {
	color: cornflowerblue;
	font-size: 2.9375em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-top: 0;
    transition: all 1s;
}
/*animation*/
h1:hover {
    color: #da9100;
}
footer {
    background: cornflowerblue;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.footerthankyou {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
section p {

    margin-bottom: 3.125em;
    color: white;
    padding: 1.625em;
    padding-left: 50px;

}
figcaption {
    margin-top: 40px;
}
section {
    z-index: 1;
}
.thankyou {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 30px;
}
.thankyou2 {
     display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 20px;
}
.gobacknav {
    padding-left: 300px;
    margin-bottom: 0;
}
.thankyoumargin {
    margin-top: 300px;
    background: rgba(255,255,255,.5);
}
}

.edu p {
	margin-right: 3.125em;
    margin-left: 1.875em;

 	
 }
img, .headimg {
    width: 100%;
    max-width: 100%;
}

 section ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
 	padding: 1.625em;
    padding-left: 85px;
    line-height: 1.625em;
    color: white;
     
 }
 article li {
 	margin-top: 1.25em;
 	font-size: 1em;
 	list-style: none;
    font-family: 'Noto Serif', serif; 
 }
.topcontainer {
   position: relative;
    height: 31.25em;
}
.headimg {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}
.bottomborder {
 	border-bottom: #da9100 .25em double;
    transition: all 1s;
 }
/*animation for bottomborder*/
.bottomborder:hover {
    border-bottom:  #da9100 1.25em double;
}
.white2 {
    background: rgba(255,255,255,.5);
    margin-top: 0;
    animation: rotateInUpLeft 1s;
}
.white {
    background: rgba(255,255,255,.5);
    margin-top: 0;
}
header h2 {
	line-height: 2.1875;
}

img, iframe, object, embed, video, audio {
 width: 60%;
 max-width: 60%;      
}
nav {
}
nav li {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    font-family: 'roboto', sans-serif;
    margin: 3px auto;
}
nav ul {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0
}
li {
	list-style: none;
    text-align: left;
    font-family: 'Noto Serif', serif;
}
.about {
    text-align: center;
}
/* font */
h4 {
	font-size: .875em;
	font-family: 'Roboto', sans-serif;
	margin: 0px 0px
}
p {
	margin-top: .625em;
	line-height: 1.4375em;
	font-size: 1em;
    text-align: left;
    font-family: 'Noto Serif', serif;
}
h2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	font-size: 2.25em;
	color: cornflowerblue;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
    padding-left: 50px;
}
.homepageheader2 {
    font-size: 15.9375em;
    margin-bottom: 40px;
    animation: rotateInUpLeft 2s
}
.homepageheader {
    justify-content: space-around;
    margin-bottom: 0;
    padding: 4px;
    animation: rotateInUpLeft 2s
}
.homepagebottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: white;
    height: 500px;
    width: 100%;
    position: relative;
    bottom: 0;
}
h3 {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
    margin-top: 0;
    color: white;
	font-size: 1.5em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
    h1 {
        font-size: 2.9375em;
    } 
    body {
       background: url("../img/hixs_pattern_evolution.png")  ;
        
	}
	
}
/*contact styling*/
.bottomicons2 {
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.bottomicons {
position: absolute;
padding: 20px;
padding-left: 55px;
bottom: 0;
margin-bottom: 0;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
}
.contactp {
    margin-bottom: 0;
    padding-left: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.headingcontact {
    margin-bottom: 0;
}
.headingcontact2 {
    font-size: 1.65em;
    padding-left: 0;
    color: white;
}
form{
  background: rgba(255,255,255,.5);
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 35px;
  margin: auto 10px;
}

label,
input,
textarea {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px 120px;
  transition: all .5s;
  color: white;
  font-size: 1.5em;
  text-align: left;
  text-align: center;
}

input[type=submit]{
  background: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: black;
}
input[type=submit]:hover {
     background: cornflowerblue;
  padding: 20px;
  color: white;
}
input:focus,
textarea:focus {
  background: cornflowerblue;
  padding: 10px;
  color: white;
  text-align: left;
  
}
.contactbg {
    background: rgba(255,255,255,.5);
    position: absolute;
    height: 88%;
    width: 100%;
    z-index: -1;
}
/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
    body {
       background: url("../img/hixs_pattern_evolution.png")  ;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
    body {
       background: url("../img/hixs_pattern_evolution.png")  ;
  }

}
