/***************/
/* YOUR STYLES */
/***************/


@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto:400,700');

/* Color Palette */
.color-1 {
    background: cornflowerblue;
    }
.color-2 {
    background: #D3D3D3	;
}
.color-4{
    background: black;
}
.color-5{
    background: white;
}
.color-3{
    background: #da9100;
}

/* Textures or Patterns*/
.pattern-1{
    background: url(../img/sayagata-400px.png);
}
.pattern-2{
    background: url(../img/mirrored_squares.png);
}
.pattern-3{
    background: url(../img/bright_squares.png);
}
.pattern-4{
    background: url(../img/woven.png);
}
.pattern-5{
    background: url(../img/random_grey_variations.png);
}

/* Imagery */


/* Icons */


/* Navigation */


/* Typography */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  
    text-align: left;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: cornflowerblue;
    font-weight: 700;
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: cornflowerblue;
    font-weight: 700;
}
p {
    font-family: 'Noto Serif', serif;
}



